<div>
    <h1>Employee Form</h1>
<form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
    <div class="form-group">
  <label for="id">Id</label>
  <input type="text" class="form-control" id="id"
         required
         [(ngModel)]="model.id" name="id">
</div>

<div class="form-group">
    <label for="firstName">FirstName</label>
    <input type="text" class="form-control" id="firstName"
           required
           [(ngModel)]="model.firstName" name="firstName">
  </div>

<div class="form-group">
    <label for="lastName">lastName</label>
    <input type="text" class="form-control" id="lastName"
           required
           [(ngModel)]="model.lastName" name="lastName">
</div>

<div class="form-group">
    <label for="salary">Salary</label>
    <input type="text" class="form-control" id="salary"
           required
           [(ngModel)]="model.salary" name="salary">
</div>
<button type="submit" class="btn btn-success" [disabled]="!employeeForm.form.valid">Submit</button>
